GO_CMS_HTTP_ADDR=:8080

GO_CMS_DATABASE_DSN=postgres://go_cms:go_cms@localhost:5432/go_cms?sslmode=disable

GO_CMS_REDIS_ADDR=localhost:6379
GO_CMS_REDIS_PASSWORD=
GO_CMS_REDIS_DB=0

GO_CMS_STORAGE_LOCAL_ROOT=./var/storage

GO_CMS_KAFKA_BROKERS=localhost:9092
GO_CMS_KAFKA_TOPIC=cms-events
GO_CMS_KAFKA_GROUP_ID=go-cms
