POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=cms
POSTGRES_USER=cms
POSTGRES_PASSWORD=change-me
POSTGRES_SSL_MODE=disable

SERVER_HOST=0.0.0.0
SERVER_PORT=8080

JWT_SIGNING_KEY=replace-with-at-least-32-random-bytes
JWT_ISSUER=go-cms-start
JWT_AUDIENCE=go-cms-start-api
JWT_ACCESS_TTL=48h
JWT_CLOCK_SKEW=30s

FILES_PUBLIC_ROOT=var/files/public
# Leave empty to use http://localhost:${SERVER_PORT} in Compose.
FILES_PUBLIC_BASE_URL=
FILES_PRIVATE_ROOT=var/files/private
FILES_PRIVATE_BASE_URL=
FILES_PRIVATE_SIGNING_KEY=replace-with-at-least-32-random-bytes

LOGGER_FILE_PATH=var/log/cms.log
